<li class="thread">
    <div class="collapsible-header thread-label" ng-click="thread.getPosts($event)">
        {{thread.label}}
    </div>
    <div class="collapsible-body thread-body">
        <div ng-bind-html="thread.description" class="description"></div>

        <div class="admin-options" ng-show="thread.adminEditing">
            <button class="btn-edit-thread btn-floating btn-small waves-effect waves-light amber"
                    ng-click="thread.edit($event)">
                <i class="material-icons">edit</i>
            </button>
            <button class="btn-clone-thread btn-floating btn-small waves-effect waves-light"
                    ng-click="thread.clone($event)">
                <i class="material-icons">content_copy</i>
            </button>
            <button class="btn-delete-thread btn-floating btn-small waves-effect waves-light red"
                    ng-click="thread.delete($event)">
                <i class="material-icons">delete</i>
            </button>
        </div>

        <button ng-hide="thread.adminEditing" class="btn-add-post btn-floating btn-small waves-effect waves-light"
                ng-click="thread.addPost($event)">
            <i class="material-icons">add</i>
        </button>

        <div ng-show="thread.loading" class="progress">
            <div class="indeterminate"></div>
        </div>

        <ul ng-show="thread.hasPosts" class="collection posts">
            <campfire-post post="post" ng-repeat="post in thread.posts track by post.id"></campfire-post>
        </ul>
    </div>
</li>