// MIXINGS =====
.bbox() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix() {
  &:after {
    content:"";
    clear:both;
    display: block;
  }
}
.row() {
  clear:both;
  .clearfix;
}
.col(@size:auto) {
  width:@size;
  float:left;
  .bbox;
}


@color-grey-lighten-2: #e0e0e0;
@color-deep-orange: #ff5722;
@color-green-accent-3: #00e676;

@color-standard-light-grey: @color-grey-lighten-2;
@color-brand-1: @color-deep-orange;

.card .card-title {
  margin-top:0; margin-bottom: 0;
}

.page-admin {
  .version {
    .collapsible-header {
      .clearfix;
    }
    .collapsible-body {
      .clearfix;
    }
  }
  .btn-add-forum {
    position: relative;
    top:-30px;
    left:-20px;
    margin-bottom: -35px;
    opacity:0;
    transition: 0.5s opacity linear;
  }
  .active .btn-add-forum {
    opacity:1;
  }
}

.page-manage-forum {
  .btn-edit-forum {
    margin-top:40px;
  }
}

.post {
  position: relative;
  .row;
  .body {
    .row;
    p { padding:0; margin-bottom:10px; }
  }
  .post-display { .row; }
  .post-options {
    li { margin-right:10px; }
  }
  .post-reply-btn { float:left; margin-right:10px; }
  .post-user { margin-bottom:10px; }
}

.thread {
  .thread-label {
    font-weight:600;
  }
  .btn-add-post {
    margin:10px 20px;
    i { width:inherit; margin-right:0; line-height: 2.6rem; }
  }
  .description {
    padding:10px 20px;
    p { padding:0; }
  }
  .posts {
    margin:10px 0 0;
    border:1px solid @color-standard-light-grey;
    border-left-width:4px;
    .posts {
      border-color:darken(@color-standard-light-grey,10%);
      .posts {
        border-color:darken(@color-standard-light-grey,20%);
        .posts {
          border-color:darken(@color-standard-light-grey,30%);
          .posts {
            border-color:darken(@color-standard-light-grey,40%);
            .posts {
              border-color:darken(@color-standard-light-grey,50%);
              .posts {
                border-color:darken(@color-standard-light-grey,60%);
                .posts {
                  border-color:darken(@color-standard-light-grey,70%);
                }
              }
            }
          }
        }
      }
    }
  }
  .thread-body > .posts {
    margin:10px 20px;
  }
  &.active {
    .thread-label {
      background-color: @color-standard-light-grey;
    }
  }
}

.list-inline {
  .clearfix;
  li { float:left; }
}